.contact{
    background: url("https://www.nationsonline.org/gallery/India/Buddha-statue-Hussain-Sagar-lake-Hyderabad.jpg");
    display: flex;
    height: 50vh;
    justify-content: center;
    background-size: cover;
    border-radius:20px;
}
.contact p{
    font:bold;
    font-size: 45px;
    padding-left:2px;
    font-style:unset;
    font-weight:bolder;
    color:rgb(6, 2, 13);
}
.hi {
    height:50px;
    width:500px;
    background-color: rgb(17, 105, 146);
    color:white;
    margin-left:30%;
    border-radius: 15px;
    font-size: medium;
}
h1{
    text-align:left;
}
/* .item{
    width:100px;
    height:100px;
    position:relative;
    margin: 0 12px;
   
}
.item img{
    
    width:150px;
    height:100px;
    position:relative;
    margin: 0 12px;
   
} */
.about{
    width:100%;
    height:30%;

}
.about .image{
    display: flex;
    align-items:center;
    gap:6rem;
}
.about .image img{
    width:30%;
    line-height: 1rem;
   
}
.h1{
    text-align: left;
}
element.style {
    height: 177px;
}
.about .image p{
    font-size: 1.5rem;
    color:var(--primary);  
    width:40%;
}
.about .image h4{
    font-family: bold;
    color:rgb(6, 2, 13);

}
  .card {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
    height: 400px;
  }
  
  .card .image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  

  
  .card button.details-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card button.details-button:hover {
    background-color: #45a049;
  }

  .HeadName{
    /* display: flex !important; */
    /* position: relative; */
    float: left;
  }