<div class="contact">
    <p> Hyderabad </p>
</div>
<br>
<button class="hi"> Hyderabad Locations </button>
<br>
<br>
<div *ngFor="let photo of video" class="head">

<div class="card">
    <div class="about">
    
      <div class="image">
       
        
        <img [src]="photo.Photo">
        <h2>Charminar<br>
            <br>
      <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a>{{photo.Like}} <a (click)="DislikeCounter(photo)" class="btn btn-danger">Dislike</a>{{photo.Dislike}}</h2>

         <h6>Location: Char Kaman, Ghansi Bazaar<br>
        Timings: 09:30 am to 05:30 pm; every day
        <br>
        <br>
        Entry Fee:
          Indian citizens – ₹20 per person<br>
          Foreign nationals – ₹200 per person</h6>
          <h5><img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
          alt="Avatar" class="img-fluid my-5" style="width: 80px;" /> <br>
        Localguide  <br> <a routerLink="/Navbar/Profile"><button class="details-button" onclick="goToPage()">Click Here</button></a> </h5>
</div>
</div>
  </div> 
</div>
  <!-- Repeat the above structure for each card  -->
     
<br>
<div *ngFor="let photo of video" class="head">

<div class="card">

<div class="about">
    <div  class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/Golkonda-Fort.jpg">
    <h1>Golkonda-Fort<br>
        <br>
  <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a>{{photo.Like}}&nbsp; <a (click)="DislikeCounter(photo)" class="btn btn-danger">Dislike</a>{{photo.Dislike}}</h1>

       <h6>Location: Khair Complex, Ibrahim Bagh<br>
        Timings: 09:00 am to 05:30 pm; every day<br>
        <br>
        Entry Fee:
        Indian citizens – ₹25 per person<br>
        Foreign nationals – ₹300 per person<br>
        Light and sound show – Starting at ₹60 per person</h6>
        <img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />

        <p>Any queries contact to localguide <br> <br><button class="details-button" onclick="goToPage()">Click Here</button></p>
    
</div>  
 </div>  
</div>  
</div>  
<br>
<div *ngFor="let photo of video" class="head">

<div class="card">

<div class="about">
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2019/03/Ramoji-Film-City.jpg">
    <h1>Ramoji-Film-City<br>
        <br>
  <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a>{{photo.Like}}&nbsp; <a (click)="DislikeCounter(photo)" class="btn btn-danger">Dislike</a>{{photo.Dislike}}</h1>

       <h6>Location: Anaspur Village, Hayathnagar <br>
        Timings: 09:00 am to 05:30 pm; every day<br>
        <br>
        Entry Fee: Packages differ. Check their website for details.</h6>
        <img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />

        <p>Any queries contact to localguide <br> <br><button class="details-button" onclick="goToPage()">Click Here</button></p>

     </div>   
</div>  
</div>  
</div>  
<br>
<div *ngFor="let photo of video" class="head">

<div class="card">

<div class="about">
    <div  class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2019/01/Wonderla-1.jpg">
       <h1>Wonderla<br>
        <br>
  <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a>{{photo.Like}}&nbsp; <a (click)="DislikeCounter(photo)" class="btn btn-danger">Dislike</a>{{photo.Dislike}}</h1>

       <p>Location: Outer Ring Road, Exit No 13 Ravirala<br>
        Timings:
        11:00 pm to 07:00 pm <br>
        <br>
        Entry Fee:
        Adults – ₹1016 (Weekdays); 
        Children – ₹812 (Weekdays); 
        Senior Citizen – ₹762 (Weekdays); 
        Free entry for children below 85 cm in height</p>
        <img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
        <p>Any queries contact to localguide <br> <br><button class="details-button" onclick="goToPage()">Click Here</button></p>

    
    </div>  
</div>  
</div>  

</div>  
<br>
<div *ngFor="let photo of video" class="head">

<div class="card">

<div class="about">
    <div  class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000X650-2.jpg">
       <h1>Hussain-Sagar<br>
        <br>
  <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a>{{photo.Like}}&nbsp; <a (click)="DislikeCounter(photo)" class="btn btn-danger">Dislike</a>{{photo.Dislike}}</h1>

       <p>Location: Necklace Road<br>
        Timings: 8:00 AM – 10:00 PM<br>
        Entry Fee: Free</p>
        <img src="https://www.shareicon.net/data/512x512/2016/05/24/770117_people_512x512.png"
          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
        <p>Any queries contact to localguide <br> <br><button class="details-button" onclick="goToPage()">Click Here</button></p>
      </div>  

    </div>  
</div>  
</div>
