<!-- <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form  #regFrom="ngForm" (ngSubmit)="registerCust(regFrom.value)">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" ngModel name="customerName" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>
                 
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" ngModel name="phonenumber" />
                  <label class="form-label" for="form3Example1cg">Your PhoneNumber</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" ngModel name="email" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" ngModel name="password" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" ngModel name="confirmPassword" />
                  <label class="form-label" for="form3Example4cdg">Confirm Password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-1">
              <h2 class="text-uppercase text-center mb-4">Create an account</h2>

<form #regFrom="ngForm" (ngSubmit)="registerCust(regFrom.value)" novalidate>
<div class="form-outline mb-2">
                  <label class="form-label" for="form3Example1cg">Your Name</label>
 <input type="text" id="form3Example1cg" class="form-control form-control-lg" ngModel
                    name="customerName" required minlength="3" maxlength="50" />
                  <div
                    *ngIf="regFrom.controls['customerName'].errors?.['required'] && regFrom.controls['customerName'].touched"
                    class="text-danger small mb-2">Name is required</div>
                  <div
                    *ngIf="regFrom.controls['customerName'].errors?.['minlength'] && regFrom.controls['customerName'].touched"
                    class="text-danger small mb-2">Name must be at least 3 characters</div>
                  <div
                    *ngIf="regFrom.controls['customerName'].errors?.['maxlength'] && regFrom.controls['customerName'].touched"
                    class="text-danger small mb-2">Name cannot exceed 50 characters</div>
                </div>
 <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example1cg">Your PhoneNumber</label>
                  <input type="tel" id="form3Example1cg" class="form-control form-control-lg" ngModel name="phonenumber"
                    required pattern="[0-9]{10}" />
                 
                  <div
                    *ngIf="regFrom.controls['phonenumber'].errors?.['required'] && regFrom.controls['phonenumber'].touched"
                    class="text-danger small mb-2">Phone number is required</div>
                  <div
                    *ngIf="regFrom.controls['phonenumber'].errors?.['pattern'] && regFrom.controls['phonenumber'].touched"
                    class="text-danger small mb-2">Please enter a valid 10-digit phone number</div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" ngModel name="email"
                    required email />
                  <div *ngIf="regFrom.controls['email'].errors?.['required'] && regFrom.controls['email'].touched"
                    class="text-danger small mb-2">Email is required</div>
                  <div *ngIf="regFrom.controls['email'].errors?.['email'] && regFrom.controls['email'].touched"
                    class="text-danger small mb-2">Please enter a valid email address</div>
                </div>

                <!-- <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" ngModel
                    name="password" minlength="8" maxlength="20"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+ :;'?/.,-])(?!.*\s).*$" required />
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <div class="invalid-feedback">
                    Password must be between 8 and 20 characters long and contain at least one uppercase letter, one
                    lowercase letter,
                    one digit, and one special character.
                  </div>
                </div> -->

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Password</label>
                  <input type="password" id="form3Example3cg" class="form-control form-control-lg" ngModel name="password"  required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" />

                    <div *ngIf="regFrom.controls['password'].errors?.['required'] && regFrom.controls['password'].touched"
                    class="text-danger small mb-2">Password is required</div>

                  <div
                    *ngIf="regFrom.controls?.['password']?.errors?.['pattern'] && (regFrom.controls?.['password']?.dirty || regFrom.controls?.['password']?.touched)"
                    class="alert alert-danger">
                    Please enter a password with at least 8 characters, one uppercase letter, one lowercase letter, one digit,
                    and one special character.
                  </div>

                </div>
      <br>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Confirm Password</label>

                  <input type="password"id="form3Example3cg" class="form-control form-control-lg" ngModel name="confirmPassword" 
                    required="password" />

                  <div
                    *ngIf="regFrom.controls?.['confirmPassword']?.errors?.['compare'] && (regFrom.controls?.['password']?.dirty || regFrom.controls?.['confirmPassword']?.touched)"
                    class="alert alert-danger">
                    Passwords do not match.
                  </div>

                  <div
                    *ngIf="regFrom.controls?.['confirmPassword']?.errors?.['required'] && regFrom.controls?.['confirmPassword']?.touched"
                    class="alert alert-danger">
                     Confirm Password did not match
                  </div>
                </div>
      
              
                <div class="d-flex justify-content-center">
          <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>