<!-- <h1>HYDERABAD TOURIST PLACES</h1>
                    <link rel="stylesheet" href="cards.component.css">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                   

                    
                    
                    <div class="card-container">
                     
                        <div class="card bg-dark text-white">
                            <img src="https://w0.peakpx.com/wallpaper/327/605/HD-wallpaper-charminar-hyderabad-place-india.jpg" alt="Card 1" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Hyderabad</h3>
                            </div>
                        
 <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                    

                        <div class="card bg-dark text-white">
                            <img src="https://c8.alamy.com/comp/AEN7D6/india-andhra-pradesh-hyderabad-golconda-fort-vaulted-ceiling-AEN7D6.jpg" alt="Card 2" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Golkonda Fort</h3>
  </div>
  <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>
                        
                    
                        <div class="card bg-dark text-white">
                            <img src="https://cdn.siasat.com/wp-content/uploads/2023/03/Ramoji.jpg" alt="Card 3" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Ramoji Film City</h3>
                            </div>
                            <button type="button" class="btn btn-danger" (click)="addToLikes(cards)"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>
                        
                  
                        <div class="card bg-dark text-white">
                            <img src="https://static.toiimg.com/thumb/48280412/Birla-Mandir.jpg?width=1200&height=900" alt="Card 4" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Birla Mandir</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>
                        
                      
                        <div class="card bg-dark text-white">
                            <img src="https://upload.wikimedia.org/wikipedia/en/5/57/Inorbit_Mall_Pics.jpg" alt="Card 5" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Inorbit Mall</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>
                        
                  
                        <div class="card bg-dark text-white">
                            <img src="https://lh3.googleusercontent.com/p/AF1QipO_N9orU2Fdh7WgQ_umUv5IjSGncT5weSUbCc6h=s1360-w1360-h1020" alt="Card 6" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Shilparamam</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>

                        <div class="card bg-dark text-white">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/86/b3/ae/adorable-place.jpg?w=1200&h=1200&s=1" alt="Card 6" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Chilkur Balaji Temple</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>

                        
                        <div class="card bg-dark text-white">
                            <img src="https://www.mirchi9.com/wp-content/uploads/2022/06/NTR_Gardens.jpg" alt="Card 6" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">KVR Botanical Garden</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>

                        </div>
                    </div>

                    <style>
                        .title {
                            font-weight: bold;
                        }
                    </style>
                    
                   
                    <h1 class="title">FAMOUS HOTELS</h1>
                    <div class="card-container">
                    
                        <div class="card bg-dark text-white">
                            <img src="https://r1imghtlak.mmtcdn.com/8d811c06c81111e99e4b0242ac110002.jpg" alt="Card 1" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Royalton Hotel</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                        
                     
                        <div class="card bg-dark text-white">
                            <img src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/flyfish/raw/NH7522072825816/QS1042/QS1042-Q1/1619010757811.jpeg" alt="Card 2" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Taj-Deccan Hotel</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                        
                       
                        <div class="card bg-dark text-white">
                            <img src="https://media.radissonhotels.net/image/radisson-hyderabad-hitec-city/restaurant/16256-114077-f63658146_3xl.jpg?impolicy=CustomCrop&cwidth=800&cheight=610" alt="Card 3" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Radisson-hyderabad</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                        
                        <div class="card bg-dark text-white">
                            <img src="https://q-xx.bstatic.com/xdata/images/hotel/max500/252292436.jpg?k=52025f2a36ccfbe7c6836a745343485bf7b43b138a2e858cfe1dbbb029b01403&o=" alt="Card 4" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Vivanta Hyderabad, Begumpet</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                        
                        <div class="card bg-dark text-white">
                            <img src="https://www.ahstatic.com/photos/8824_ho_05_p_1024x768.jpg" alt="Card 5" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Mercure Hyderabad</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
                        
                        <div class="card bg-dark text-white">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/d0/50/73/pool-and-jacuzzi.jpg?w=700&h=-1&s=1" alt="Card 6" />
                            <div class="card-img-overlay">
                                <h3 class="card-title">Mercure Hyderabad</h3>
                            </div>
                            <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-up"></i>Like</button>
                        </div>
        </div> -->

    

<div class="contact">
    <p> Hyderabad </p>
</div>
<br>
<button class="hi"> Hyderabad Locations </button>
<br>
<br>
<!--<button (click)="goToPage()"> Hotels </button>
<button> Locations </button>
<button> Contact Person </button>
<br>
<br>
<br>
<br>
<h1> “Hyderabad is a city full of intelligence and inspiration.” </h1>-->
<div class="about" >
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000X650-1.jpg">
    <h1>Charminar</h1>
        <p>If you have any queries. PLease contact with our localguide, he can available 24/7.</p> <!--<a routerLink="Navbar/Profile"><button (click)="goToPage()"> Profile</button></a></p> -->
        <a routerLink="/Navbar/Profile"><button type="button"
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Profile</button></a>
          
       <h4>Location: Char Kaman, Ghansi Bazaar<br>
        Timings: 09:30 am to 12:30 am; every day<br>
        Entry Fee:
        Indian citizens – ₹20 per person
        Foreign nationals – ₹200 per person</h4>
    
    </div>  
   
</div>  
<br>
<div class="about">
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/Golkonda-Fort.jpg">
    <h1>Golkonda-Fort</h1>
       <p>The light and sound show held here every evening is something that you must not miss out on, especially if you are visiting the fort with your kids.
          for more details<button (click)="goToPage()"> Click Here </button></p>

       <h4>Location: Khair Complex, Ibrahim Bagh<br>
        Timings: 09:00 am to 05:30 pm; every day<br>
        Entry Fee:
        Indian citizens – ₹25 per person
        Foreign nationals – ₹300 per person
        Light and sound show – Starting at ₹60 per person</h4>
    
    </div>  
   
</div>  
<br>
<div class="about">
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2019/03/Ramoji-Film-City.jpg">
    <h1>Ramoji-Film-City</h1>
       <p>You can explore a number of artificial and natural attractions inside this studio complex that also boasts of an amusement park, two hotels, multi-cuisine restaurants, and various permanent sets. Sprawling over 2000 acres, it is truly a dream destination for everyone, regardless of age.
          for more details<button (click)="goToPage()"> Click Here </button></p>

       <h4>Location: Anaspur Village, Hayathnagar Mandal<br>
        Timings: 09:00 am to 05:30 pm; every day<br>
        Entry Fee: Packages differ. Check their website for details.</h4>
    
    </div>  
   
</div>  
<br>

<div class="about">
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2019/01/Wonderla-1.jpg">
       <h1>Wonderla</h1>
       <p>  The best part is that the park has a number of kids rides specially designed to keep the young brigade happy.
          for more details<button (click)="goToPage()"> Click Here </button></p>

       <h4>Location: Outer Ring Road, Exit No 13 Ravirala<br>
        Timings:
        11:00 pm to 07:00 pm (Peak Season* and Normal Season Weekend/Holidays)<br>
        Entry Fee:
        Adults – ₹1016 (Weekdays); ₹1185 (Weekends/Holidays)
        Children – ₹812 (Weekdays); ₹948 (Weekends/Holidays)
        Senior Citizen – ₹762 (Weekdays); ₹889 (Weekends/Holidays)
        Free entry for children below 85 cm in height</h4>
    
    </div>  
   
</div>  
<br>
<div class="about">
    <div class="image">
       <img src="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000X650-2.jpg">
       <h1>Hussain-Sagar</h1>
       <p>you can hire a trip on a ferry or a boat and begin exploring the magical views of the surroundings.for more details<button (click)="goToPage()"> Click Here </button></p>

       <h4>Location: Necklace Road<br>
        Timings: 8:00 AM – 10:00 PM<br>
        Entry Fee: Free</h4>
    
    </div>  
   
</div>  