/* .card-container {
    display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 5px;
      padding: 10px 0;
     scroll-behavior: smooth;
      overflow-x: scroll;
}

.card {
    flex: 0 0 auto;
    width: 300px;
}
.card img {
      width: 100%;
       height: auto;
} */

.contact{
    background: url("https://www.nationsonline.org/gallery/India/Buddha-statue-Hussain-Sagar-lake-Hyderabad.jpg");
    display: flex;
    height: 50vh;
    justify-content: center;
    background-size: cover;
    border-radius:20px;
}
.contact p{
    font:bold;
    font-size: 45px;
    padding-left:2px;
}
.hi {
    height:50px;
    width:500px;
    background-color: rgb(17, 105, 146);
    color:white;
    margin-left:30%;
    border-radius: 15px;
}
h1{
    text-align:center;
}
.item{
    width:100px;
    height:100px;
    position:relative;
    margin: 0 12px;
   
}
.item img{
    
    width:150px;
    height:100px;
    position:relative;
    margin: 0 12px;
   
}
.about{
    width:100%;
    height:30%;
}
.about .image{
    display: flex;
    align-items: center;
    gap:6rem;
}
.about .image img{
    width:30%;
    line-height: 1rem;
   
}
element.style {
    height: 177px;
}
.about .image p{
    font-size: 1.5rem;
    color:var(--primary);  
    width:40%;
}
.about .image h4{
    font-family: bold;
    color:rgb(209, 45, 45);

}