.about .image{
    display: flex;
     /* padding-bottom:15%; */
    align-items: center;
    gap:6rem;
}
.about .image img{
    width:40%;
    height:100%;
}
.about .image h3{
    font-size: 3.5rem;
    color:var(--primary);
    padding:2rem 0;
   
}
.about .image p{
    font-size: 1.5rem;
    color:var(--primary);
    
    
}



