<div class="about">
    <div class="image">
       <img src="https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg?crop=1xw:0.84276xh;center,top&resize=1200:*">
       <h2>About Travel Buddy App</h2>
    <p>There is an itinerary amongst all of us and the idea is to create a crowd sourced platform of local expertise identified as travel buddies. These Travel Buddies are people who are willing to show travellers stuff - the way it is supposed to be seen - the local way! So Advice, Share Stories and Make Buddies and most importantly Travel Well!</p> 
    
    </div>  
   
</div>  
<br>
<br> <br>