<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark mb-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<a href ="#" class="navbar-brand">Travel Buddy</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" routerLink="./home">
          <i class="fa fa-home"></i>
          Home
          <span class="visually-hidden">(current)</span>
          </a>
      </li> 
   
      <li class="nav-item">
        <a class="nav-link" routerLink="./contact">
          <i class="fa fa-fw fa-envelope">
          </i>
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="./">
          About
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="./">
          Review
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="./">
          Guide
        </a>
      </li>
   
    </ul>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./likes"> likes({{likesItems.length}}) </a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<div class="background">
  <nav class="navbar  navbar-default">
      <div class="header">
    
          <a href="#" class="logo">Travel Buddy</a> 
          <div class="navbar">
           <a class="nav-link" routerLink="./homepage"> Home </a> &nbsp;
           <a class="nav-link" routerLink="./contact"> Contact </a> &nbsp;
          <!-- <a class="nav-link" routerLink="./gallery"> Gallery </a> &nbsp; -->
          <a class="nav-link" routerLink="./about"> About </a> &nbsp;
         <a class="nav-link" routerLink="./review"> Review </a> &nbsp;
          </div> 
       </div>
     </nav>
    </div>
<br>
<br>
<br>
   
<router-outlet></router-outlet>
<app-footer> </app-footer> 