
<!-- <app-login> </app-login>-->
 <!-- <app-navbar></app-navbar>   -->
<!--<app-registration> </app-registration>  -->
 <!-- <app-homepage> </app-homepage>   -->
 <!-- <app-footer></app-footer> -->
<!-- <app-cards></app-cards>  -->
  <!-- <app-contact></app-contact>  -->  
<!-- <app-footer></app-footer>  -->
<!-- <app-likes></app-likes>
 <app-profile></app-profile>
 <router-outlet></router-outlet>  -->
 <!-- <app-profile></app-profile> -->
<!-- <app-about></app-about>  -->
<!-- <app-payment></app-payment> -->


  <router-outlet></router-outlet>  
 



