<section class="l-content-width section section--bordered">
    <div class="section__nav">
      <h2 class="section__headline">
        Ratings and Reviews
      </h2>
    
      <!---->
    </div>
    
      <div class="we-customer-ratings lockup">
    <div class="l-row">
    <div class="we-customer-ratings__stats l-column small-4 medium-6 large-4">
    <div class="we-customer-ratings__averages"><span class="we-customer-ratings__averages__display">3.9</span> out of 5</div>
      <div class="we-customer-ratings__count small-hide medium-show">154 Ratings</div>
    </div>
    <div class=" l-column small-8 medium-6 large-4">
    <figure class="we-star-bar-graph">
        <div class="we-star-bar-graph__row">
          <span class="we-star-bar-graph__stars we-star-bar-graph__stars--5"></span>
          <div class="we-star-bar-graph__bar">
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 64%;"></div>
          </div>
        </div>
        <div class="we-star-bar-graph__row">
          <span class="we-star-bar-graph__stars we-star-bar-graph__stars--4"></span>
          <div class="we-star-bar-graph__bar">
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 4%;"></div>
          </div>
        </div>
        <div class="we-star-bar-graph__row">
          <span class="we-star-bar-graph__stars we-star-bar-graph__stars--3"></span>
          <div class="we-star-bar-graph__bar">
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 5%;"></div>
          </div>
        </div>
        <div class="we-star-bar-graph__row">
          <span class="we-star-bar-graph__stars we-star-bar-graph__stars--2"></span>
          <div class="we-star-bar-graph__bar">
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 6%;"></div>
          </div>
        </div>
        <div class="we-star-bar-graph__row">
          <span class="we-star-bar-graph__stars "></span>
          <div class="we-star-bar-graph__bar">
            <div class="we-star-bar-graph__bar__foreground-bar" style="width: 20%;"></div>
          </div>
        </div>
    </figure>
      <p class="we-customer-ratings__count medium-hide">154 Ratings</p>
    </div>
    </div>
    </div>
    
    
    <div class="l-row l-row--peek">
            
            <div id="ember438329" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
    <div>
    <!---->
    <!----></div>
    
    
    
              <div aria-labelledby="we-customer-review-29136" class="we-customer-review lockup">
    <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="5 out of 5">
    <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-5"></span>
    </span>
    <!----></figure>
    
    
    <div class="we-customer-review__header we-customer-review__header--user">
    <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    Dr Sahil Langer
    </span>
    
    
    
    <span class="we-customer-review__separator">, </span>
    
    <time data-test-customer-review-date datetime="2022-10-06T04:41:13.000Z" aria-label="5 October 2022" class="we-customer-review__date" >05/10/2022</time>
    </div>
    
    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-29136">
    Best travel app
    </h3>
    
    
    
    <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-customer-review__body" dir>
      
    
      <p dir="false" data-test-bidi>If travel is your hobby then this app must be in your phone. Helps a lot if you are solo traveller or travelling in group as it helps you to meet the local influencers who will guide you the places to visit in their area. And if you are solo traveller you might get someone who is also travelling to same place at that time. You can save money and also get good travel buddy that’s why it’s called travelbuddy app. Using this from last 4 years and it’s improved day by day. Keep it up.</p>
    
    
    
    <!----></blockquote>
    
    
    
    <!----></div>
    
            
    </div>
    
        
    
            <div id="ember438331" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
    <div>
    <!---->
    <!----></div>
    
    
    
              <div aria-labelledby="we-customer-review-29137" class="we-customer-review lockup">
    <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="5 out of 5">
    <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-5"></span>
    </span>
    <!----></figure>
    
    
    <div class="we-customer-review__header we-customer-review__header--user">
    <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    divyaang
    </span>
    
    
    
    <span class="we-customer-review__separator">, </span>
    
    <time data-test-customer-review-date datetime="2023-02-13T23:00:12.000Z" aria-label="13 February 2023" class="we-customer-review__date" >13/02/2023</time>
    </div>
    
    <h3 class="we-truncate we-truncate--single-line  we-customer-review__title" dir="ltr" id="we-customer-review-29137">
    Best travel app to connect travellers with locals
    </h3>
    
    
    
    <blockquote class="we-truncate we-truncate--multi-line we-truncate--interactive  we-customer-review__body" dir>
      
    
      <p dir="false" data-test-bidi>Travel buddy is one of the best travel app. I always do my travel research before travelling to any destination. Travel buddy helped me to get unexplored and offbeat things to do and connect with locals. I got many local friends through Travel buddy in multiple destinations. I love travel content in the feed .Travel buddy is my new local guide across global destinations.</p>
    
    
    
    <!----></blockquote>
    
    
    
    <!----></div>
    
            
    </div>
    
        
    
            <div id="ember438333" class="small-valign-top l-column--equal-height l-column small-4 medium-6 large-4">
    <div>
    <!---->
    <!----></div>
    
    
    
              <div aria-labelledby="we-customer-review-29138" class="we-customer-review lockup">
    <figure class="we-star-rating we-customer-review__rating we-star-rating--large" aria-label="1 out of 5">
    <span class="we-star-rating-stars-outlines">
    <span class="we-star-rating-stars we-star-rating-stars-1"></span>
    </span>
    <!----></figure>
    
    
    <div class="we-customer-review__header we-customer-review__header--user">
    <span class="we-truncate we-truncate--single-line  we-customer-review__user" dir="ltr">
    mksharma82
    </span>
    
    
    
    <span class="we-customer-review__separator">, </span>
    
    <time data-test-customer-review-date datetime="2022-05-18T18:11:50.000Z" aria-label="18 May 2022" class="we-customer-review__date" >18/05/2022</time>
    </div>
    
    
            
    </div>
    
        
    
    </div>
    
    
    