<div class="col-md-12">
    <div class="card card-container">
          <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                  <div class="alert alert-danger" role="alert" *ngIf="error">Payment failed: {{ error }}</div>
                  <div class="alert alert-success" role="alert" *ngIf="paymentId">Payment Success. Payment ID: {{ paymentId }}</div>
              </div>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="form.name" />
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="form.email" />
              </div>
              <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" name="phone" [(ngModel)]="form.phone" />
              </div>
              <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number" class="form-control" name="amount" [(ngModel)]="form.amount" />
              </div>
              <br>
              <div class="form-group">
                  <button class="btn btn-primary btn-block">Proceed</button>
              </div>
          </form>
      </div>
  </div>
  